/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
/* Header Styling */
header {
  position: relative;
  height: 120px;
  color: #fff;
  text-align: center;
  padding: 30px;
  font-size: 28px;
  z-index: 1;
  border-bottom: 1px solid #fff;
  border-radius: 0 0 50px 50px;
  animation: changeBackgroundColor 20s infinite alternate;
  /* Update background to use linear gradient */
  background: linear-gradient(45deg, rgba(21, 149, 104, 0.5) 0%, rgba(32, 182, 32, 0.8) 50%, rgba(13, 152, 145, 0.5) 100%);
}

/* Define the animation */
@keyframes changeBackgroundColor {
  0% { background-color: #1abc9c; }
  25% { background-color: #3498db; }
  50% { background-color: #9b59b6; }
  75% { background-color: #e74c3c; }
  100% { background-color: #1abc9c; }
}


.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border: 2px solid #3498db; /* Blue-colored border */
  position: relative; /* Needed for the pseudo-element */
}

/* Add additional box-shadow for the frame effect */
.container:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 2px solid #3498db; /* Blue-colored border */
  border-radius: 12px; /* Adjust border-radius to match container */
  z-index: -1;
}


/* Input Styling */
input[type="text"] {
  width: 96%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #3498db;
}

/* Button Styling */
button {
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1abc9c;
}

/* Complaint Details Styling */
#complaintDetails {
  margin-top: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 30px;
  background-color: #f5f5f5;
}

/* Overlay Styling */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease;
}
/* CSS for the password form */
.password-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 20px; 
  position: relative;
  margin-bottom: 1em;
}
.eye-icon {
  width: 20px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  top: 50%; /* Align vertically */
  right: 45px; /* Adjust distance from the right */
  transform: translateY(-50%); /* Center vertically */
  cursor: pointer;
}

.H2 {
  text-align: center; /* Center align the heading */
}
#passwordInput {
  width: 90%; /* Take up full width */
  padding: 10px; /* Add some padding */
  margin-bottom: 10px; /* Add some space below the input */
}
.button {
  width: 50%; /* Take up full width */
  padding: 10px; /* Add some padding */
  background-color: #007bff; /* Blue background color, change as needed */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  cursor: pointer; /* Show pointer cursor */
  margin-left: 50px;
}
.password-form h2 {
  margin: 0 0 20px;
}

/* Clear Button Styling */
.cross-button2 {
  position: absolute;
  top: 110px;
  right: 39px;
  cursor: pointer;
}


.cross-button2:hover {
  color: #ff0000; /* Changed color on hover */
}



/*---------------------------------------------------------------- Complaint Table Styling---------------------------------- */
/* Table Styles */
.complaint-table {
  width: 100%;
  border: 2px solid #007bff; /* Add a border around the table with the primary color */
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.complaint-table th, .complaint-table td {
  padding: 12px; /* Reduce padding slightly for a more compact look */
  text-align: center; /* Center align text in cells */
  border-bottom: 1px solid #ddd;
}

.complaint-table th {
  background-color: #007bff;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.complaint-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.complaint-table tbody tr:hover {
  background-color: #ddd; /* Light gray background color on hover */
}

.complaint-table tbody td:first-child,
.complaint-table thead th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.complaint-table tbody td:last-child,
.complaint-table thead th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Delete Button Styles */
.delete-button {
  background-color: #007bff; /* Blue background color */
  color: white; /* White text color */
  border: none; /* No border */
  padding: 10px 20px; /* Increase padding for better button appearance */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  font-size: 16px; /* Increase font size for better readability */
  transition: background-color 0.3s ease; /* Smooth color transition */
  margin-left: 10px; /* Adjust spacing from adjacent elements */
}

/* Hover effect */
.delete-button:hover {
  background-color: black; /* Darker red on hover */
  transform: scale(1.1); /* Scale up the button size on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
}

.copy-icon{
  cursor: pointer;
  width: 50px;
  mix-blend-mode: multiply;
}
/*------------------------------------------Dark mode on off ------------------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: -50px;
  margin-left: 90%;
  top: -13px;
  visibility: hidden;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.Light {
  background-color:  rgba(241, 209, 150, 0.532); /* Light mode background color */
  color: black; /* Text color remains black for better readability */
}
.Dark {
  background-color: rgba(0, 0, 0, 0.919);
  color: white;
}
.LightHeader {
  background-color: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.DarkHeader {
  background: linear-gradient(45deg, rgba(21, 149, 104, 0.5) 0%, rgba(32, 182, 32, 0.8) 50%, rgba(13, 152, 145, 0.5) 100%);
  color: #000000;
}

.LightContainer {
  background-color: white; /* Change to desired color for light mode */
  color: black; /* Change to desired text color for light mode */
}

.Dark .container {
  background-color: black; /* Change to desired color for dark mode */
  color: white; /* Change to desired text color for dark mode */
}
.LightCloseButton {
  color: black; /* Change to desired color for light mode */
}

.DarkCloseButton {
  color: black;
}
/* Add this CSS to toggle text color */
.TextBlack p {
  color: black; /* Set text color to black */
}

.TextBlack .close-button {
  color: black; /* Set close button color to black */
}
/* Additional styles for text color toggling */
.TextBlack {
  color: #000; /* Change the text color to black */
}

.TextWhite {
  color: #fff; /* Change the text color to white */
}
/* Additional styles for text color toggling */
.TextBlack {
  color: #000; 
  background-color: white;
}
.TextBlack2 {
  color: #000; 
}
/* Apply black text color to the table */
.TextBlack .complaint-table th,
.TextBlack .complaint-table td {
  color: #000; /* Change the text color to black within the table */
  
}
/*-------------------webkit Scrollbar-------------*/
::-webkit-scrollbar{
  width: 20px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background-color:rgba(0, 0, 0, 0.842);
  width: 20px;
  
}
::-webkit-scrollbar-thumb{
  height: 5px; /* Adjust the height as needed */
  background-color: rgba(50, 143, 229, 0.682);
  border-radius: 10px;
  border: .5rem solid transparent;
  background-clip: content-box;
}
#Maxsize{
  font-weight: 100;
  color: red;
    font-style: italic;
}
/*---------------------------------Responsive Website ----------------------------*/
@media only screen and (max-width: 768px) {
  /* Adjust header padding and font size for smaller screens */
  header {
    padding: 9px;
    font-size: 24px;
    width: 367px;
    height: 73px;
    text-align: center;
  }

  /* Adjust h1 font size and margin for smaller screens */
  header h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  /* Adjust container width and padding for smaller screens */
  .container {
    max-width: 90%;
    padding: 20px;
    margin-top: 20px;
  }

  /* Adjust input width, padding, and margin for smaller screens */
  input[type="text"] {
    width: calc(100% - 30px); /* Adjust width to accommodate padding and margin */
    padding: 12px; /* Adjust padding */
    margin-bottom: 20px; /* Add margin bottom for spacing */
    font-size: 16px; 
  }

  /* Adjust button width and padding for smaller screens */
  button {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;
  }

  /* Adjust clear button position for smaller screens */
  .cross-button2 {
    top: 95px;
    right: 35px;
  }

  /* Adjust complaint details padding for smaller screens */
  #complaintDetails {
    padding: 20px;
    margin: 0 auto; /* New adjustment */
  }

  /* Adjust table font size for smaller screens */
  .complaint-table {
    font-size: 4px;
  }

  /* Adjust table padding for smaller screens */
  .complaint-table th{
    font-size: 16px;
    padding: 8px;
    text-align: center;
    font-size: 16px; 
  }
  .complaint-table tbody tr {
    height: 50px;
  }
  .complaint-table td {
    padding: 8px;
    text-align: center;
    font-size: 16px; 
    padding: 10px;
  }

  /* Adjust delete button padding for smaller screens */
  .delete-button {
    padding: 10px 15px;
  }

  /* Adjust password form padding for smaller screens */
  .password-form {
    padding: 20px;
  }

  /* Adjust password input width and padding for smaller screens */
  #passwordInput {
    width: calc(100% - 30px); /* Adjust width to accommodate padding and margin */
    padding: 10px; /* Adjust padding */
    margin-bottom: 20px; /* Add margin bottom for spacing */
  }

  /* Adjust submit button width and padding for smaller screens */
  .button {
    width: 100%;
    padding: 10px;
    margin-left: 0;
  }
  button:hover {
    opacity: 0.8;
  }
    /* Adjust eye button width and padding for smaller screens */
    .eye-icon {
      width: 20px;
      height: auto;
      position: absolute;
      top: 43%;
      right: 41px;
      transform: translateY(-50%);
      cursor: pointer;
    }
     /* Improve table responsiveness by allowing horizontal scroll */
  .table-wrapper {
    overflow-x: auto;
  }

  /* Adjust table row background color for better readability */
  .complaint-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Make table rows clickable for better interaction */
  .complaint-table tbody tr {
    cursor: pointer;
  }
}
